@import "../settings/colors";

.checkbox {
  border:1px solid $color-text2;
}
.yellow {
  background: $color-bar;
}
.min-box-height {
  min-height: 400px;


}

.small-box {
  width:200px;
  margin: 10px;
}
.inline {
  display: flex;
}
.inline-block {
  display: inline-block;

}
.background-image {
  //max-width: 100vw;
  max-height: 700px;
  background: url("../../assets/Background-Form.jpg") no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;

  //height: 70%;

}