@import "../settings/colors";

.top-menu {

}
.navigation {
  display: flex;
  justify-content: flex-end;

  h3{
    color: $color-text3;
    margin-inline: 10px;
    font-size: 18px;

  }
}
.login-register {
  display: flex;
  justify-content: flex-end;
}
.button {
  padding:10px;
  background-color: white;
  cursor: pointer;
  border:none;
}
.button:hover {
  border: 1px solid $color-bar;
}
.title {
  text-align: center;
  font: normal normal normal 40px/55px Open Sans;
  letter-spacing: -0.8px;
  color: #3c3c3c;
  opacity: 1;
  font-size: 40px;
}
.center {
  display: flex;
  justify-content: center;
  padding: 10px;

}
.decoration {
  background: url("../../assets/Decoration.svg") no-repeat;
  background-size: contain;
  height: 50px;

}

.form-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  justify-content: center;
  background: #F0F1F1 0% 0% no-repeat padding-box;
  padding: 20px 30px;
}
.input{
  border: 0;
  outline: 0;
  border-bottom:solid 1.5px $color-text2;
  background-color: $color-background;
  width: 250px;
}
.label {
  width: 250px;
  height: 62px;
  font: normal normal 600 16px/85px Open Sans;
  letter-spacing: 0px;
  color: #3C3C3C;
  text-align: start;
}
.buttons {
  justify-content: space-evenly;
  font: normal normal 300 18px/32px Open Sans;
  :hover {
    border: 0.75px solid #3C3C3C;
  }
}